<div class="card" style="width: auto" >
  <h2 class="card-title" style="left: auto">Add a Song!</h2>
<div class="card-body">
  <form (ngSubmit)="onSubmit()">
    <!-- Title -->
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" placeholder="Enter Title"
                id="title" required [(ngModel)]="song.title" name="title">
    </div>
    <!-- Artist -->
    <div class="form-group">
        <label for="artist">Artist</label>
        <input type="text" class="form-control" placeholder="Enter Artist"
                  id="artist" required [(ngModel)]="song.artist" name="artist">
    </div>

<br>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
<app-message></app-message>
</div>
